@keyframes clairvoyance{
	0% {
		margin-top:50pt;
	}
	100% {
		margin-top:90pt;
	}
}
downarrow{
	position:absolute;
	margin-top:30pt;
	left:47.5%;
	width:40pt;
	height:40pt;
	background:rgba(0, 0, 0, 0);
	border-right:solid thin white;
	border-bottom:solid thin white;
	display:block;
	transform:rotate(45deg);
	animation : clairvoyance 1s alternate infinite;
} 
